:root {
  --primary-font: 'Handlee';
  --secondary-font: 'Amatic SC';
  --text-size: 2.25rem;
  --input-text-size: 1.88rem;
  --background-color: #DAE2E7;
  --light-black: #333333;
  --placeholder: #939393;
  --input-color: #ffff;
  

}
