body {
  background-color: var(--background-color);
  width: 100%;

}

.container__things__toDo {
   display: flex;
   flex-direction: column;
   align-items: center;

}

.hat, .cat {
  width: 6rem;
  height: 6rem;
}

.text {
  font-family: var(--primary-font);
  font-size: var(--text-size);
  padding-left: 45px;
  transform: translate(0, 60%);
}

.text__done { 
  margin-top: 3.8rem;
  font-family: var(--primary-font);
  font-size: var(--text-size);
  padding-left: 20px;
}

.input {
  width: 20rem;
  height: 10px;
  border-radius: 0.625rem;
  border: 1px solid #000;
  padding: 1rem;
  outline: none;
  font-family: var(--secondary-font);
  font-size: var(--input-text-size);
  color: var(--placeholder);
}

.control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: inline;
  position: relative; 
}

.hat {
  position: absolute;
  left: 5px;
  bottom: 10px;
  transform: translate(-45%);

}

.cat {
  position: absolute;
  transform: translate(-70%);
}

.hidden {
  display: none;
}

.welcome {
  width: 30rem;
  height: 15rem;
  background-color: var(--light-black);
  color: #fff;
  font-family: var(--primary-font);
  font-size: 1rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 12.5rem;
}

.input--welcome {
  width: 20rem;
  height: 10px;
  border-radius: 0.625rem;
  border: 1px solid #000;
  padding: 1rem;
  margin-left: 75px;
  outline: none;
  font-family: var(--primary-font);
  font-size: var(--input-text-size);
  color: var(--placeholder);

}

h1 {
  font-weight: 300;
  font-size: 2rem;
  text-align: center;
}

.witch {
  width: 3rem;
  height: 3rem;
  position: absolute;
  transform: translate(690%, 40%);

}

.style {
  position: relative;
  left: 30px;
}

.spider {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: -32px;
  top: 5px;
}

.input__checkbox {
  display: none;

}

.input__checkbox:checked + .style {
  background-color: green;

}

.garbage {
  width: 1.6rem;
  height: 1.6rem;
  padding-left: 140px;

}

.delete {
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: absolute;
  margin-left: 140px;

}
.item {
  width: 20rem;
  height: 2.5rem;
  border-radius: 0.625rem;
  border: 1px solid #000;
  outline: none;
  display: flex;
  align-items: center;
  padding-left: 10px;
  background-color: #fff;
  font-family: var(--secondary-font);
  font-size: var(--input-text-size);
}
  



